.card {
    float: left;
    width: 20%;
    height: 280px;
}

.card-content {
    height: 230px;
}

.card-Consumption-table {
    display: flex;
    flex-wrap: wrap;
}

.resumen-table {
    flex: 30%;
    height: 400px;
}

.information-Consumption-table {
    width: 100%;
    padding: 10px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    color: white;
    float: left;
    margin-top: 20px;
    flex: 100%;
    min-height: 200px;
    background-color: blue;
}

.footer h2 {
    text-align: center;
    margin-top: 30px;
}

.footer p {
    width: 60%;
    margin: 10px auto;
    text-align: justify;
}

.buttom-table-consumption {
    float: right;
    background-color: red !important;
}

@media (max-width: 600px) {
    .resumen-table {
        flex: 100%;
        margin: 10px;
        height: auto;
    }

    .card {
        width: 100%;
        margin: 10px;
    }

    .card-content, .information-Consumption-table {
        float: left;
        height: 100%;
    }
}